---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="index-content">
    <h1>About</h1>
    <p>This page exists because of cool stuff other folks have made. Source code is available on <a href="https://github.com/brave-alex-studio/mosh-decagone-timer">Github</a>. Feel free to report issues there if you find them.</p>
    <h2>How to use</h2>
    <p>If you have a tablet, computer, or other screen to use during your session, you can use it to display the clock. It is noted in the module that the clock is visible to players without explanation. I just cast this to a TV screen for everyone to see during play.
        The audio plays on a continuous loop, but there are pause and reset buttons if you need them. Start the audio once your players have about 2 minutes left in their elevator ride into the facility. That's it! You can pause for snack breaks or meta-table discussions or reset the timer if you need to.</p>
    <h2>Credits:</h2>
    <h3><a href="https://slowquest.itch.io/decagone">Decagone</a> module for Mothership</h3>
    <p>(which is awesome and you should totally check it out)</p>
    <p>Written by<span class="separator">::</span> WacoMatrixo. Art and layout by<span class="separator">::</span> Bodie H.</p>
    <h3>Audio track</h3>
    <p>Credit<span class="separator">::</span> @Lizardperson on the Mothership Discord, who posted this audio track in their after-action report.</p>
    <h3>Theme and Styling</h3>
    <p><span>Terminal theme made by <a href="https://github.com/panr/hugo-theme-terminal" target="_blank">panr</a></span>
    <span class="separator">::</span>
    <span>Ported by <a href="https://github.com/dennisklappe">Dennis Klappe</a></span></p>
    <p>Nostromo theme inspired by this <a href="https://github.com/gvorbeck/Nostromo">Nostromo</a> theme for Obsidian</p>
    <p>Retro terminal styling<span class="separator">::</span> Chris Coyier on <a href="https://codepen.io/chriscoyier/pen/GBbOJd">CodePen</a></p>
    <h3>Framework</h3>
    <p>Built with Astro and Solid</p>
  </div>
</BaseLayout>
