---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="index-content">
    <h1>About</h1>
    <p>This page exists because of cool stuff other folks have made. Source code is available on <a href="">Github</a></p>
    <h2><a href="https://slowquest.itch.io/decagone">Decagone</a> module for Mothership</h2>
    <p>(which is awesome and you should totally check it out)</p>
    <p>Written by<span class="separator">::</span> WacoMatrixo. Art and layout by<span class="separator">::</span> Bodie H.</p>
    <h2>Audio track</h2>
    <p>Credit<span class="separator">::</span> @Lizardperson on the Mothership Discord, who posted this audio track in their after-action report.</p>
    <h2>Theme and Styling</h2>
    <p><span>Terminal theme made by <a href="https://github.com/panr/hugo-theme-terminal" target="_blank">panr</a></span>
    <span class="separator">::</span>
    <span>Ported by <a href="https://github.com/dennisklappe">Dennis Klappe</a></span></p>
    <p>Nostromo theme inspired by this <a href="https://github.com/gvorbeck/Nostromo">Nostromo</a> theme for Obsidian</p>
    <p>Retro terminal styling<span class="separator">::</span> Chris Coyier on <a href="https://codepen.io/chriscoyier/pen/GBbOJd">CodePen</a></p>
    <h2>Framework</h2>
    <p>Built with Astro and Solid</p>
  </div>
</BaseLayout>
